html,
body, #app, .jumbotron {
    height: 100%;
}

#app {
    margin-bottom: 10em;
}

#fab {
    width: 95%;
}

body { margin: 10; } /* Remove body margins */

h1, input, p {
    zoom: 2;
}

p {
    text-align: center;
}

a {
    cursor: pointer;
}

h1 {
    text-align: center;
}

.sameRow {
    display: flex;
    flex-direction: row;
    zoom: 2;
}

.sameRow div {
    margin-right: 2%;
}

.footerContainer {
    text-align: center;
}

.largeCheckbox {
    margin-left: 2%;
    margin-right: 2%;
}

.bg-banner {
    background-image:
            url("banner.png");
    background-size: 100%;
}

.nav-highlight {
    font-weight: bolder;
    color: rgba(255,255,255, 0.9) !important;
}

.jumbotron {
    margin-bottom: 0;
    padding: 4 rem, 4 rem;
}

#progressBar {
    width: 50%;
    margin-top: 4rem;
    margin-left: 25%;
}

#dashboard {
    zoom: 2;

}